:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --back-ground-color: #F9FAFB;
    --font-default: 'Inter', sans-serif;
}

.footer {
    width: 100%;
    height: auto; 
    background-color: var(--back-ground-color);
    display: block;
    text-align: center;
    padding: 4% 0; 
}

.footer h1 {
    font-size: 2rem; 
    font-weight: 600;
    margin-top: 2%; 
}

.footer h2 {
    font-size: 1.25rem; 
    font-weight: 400;
    color: var(--text-color);
    margin-top: 2%; 
}

.footer-cadastro {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

#email {
    width: 360px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 14px 12px 16px;
    font-size: 14px;
}

button[type="submit"] {
    background-color: var(--main-color);
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.footer h3 {
    font-size: 0.85rem; 
    font-weight: 400;
    color: var(--text-color);
    margin-top: 2%; 
}