:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --font-default: 'Inter', sans-serif;
}

.hero {
    max-width: 100%; /* Limita a largura máxima a 100% do contêiner pai */
    height: auto; /* Redimensiona automaticamente a altura de acordo com a largura */
    padding: 5% 0; /* Use unidades percentuais para o preenchimento superior/inferior */
    gap: 2%; /* Use unidades percentuais para a lacuna entre os elementos */
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--font-default);
}


.hero-sobre-nos {
    size: 16px;
    color: var(--main-color);
    font-weight: 600;
}

.hero-main {
    margin: 32px 0px 32px 0px;
    gap: 12px;
}

.hero-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero p {
    color: var(--text-color);
    width: 792px; 
    height: 83px; 
    text-align: center;
    margin: 0;
}

