:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --border-color: #EAECF0;
    --font-default: 'Inter', sans-serif;
}

.vagas {
    max-width: 100%;
    height: auto;
    padding: 5% 0;
    gap: 2%;
    text-align: center;
    font-family: var(--font-default);
}

.vagas-abertas {
    font-size: 1,8rem; 
    font-weight: 500;
    background-color: #8E24240D;
    color: var(--main-color);
    border-radius: 16px;
    width: 90%; 
    max-width: 300px; 
    height: auto;
    margin: 1% auto; 
    padding: 4px 12px 4px 12px;
}

.vagas-main {
    font-size: 2rem; 
    font-weight: 600;
    margin: 1% 0;
    gap: 0.5%;
}

.vagas-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vagas p {
    color: var(--text-color);
    max-width: 90%; 
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.reuniao img {
    max-width: 100%;
    height: auto;
    margin-bottom: 4%; 
}

.descricao-vagas {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.descricao-vagas h1 {
    font-size: 1.25rem;     
    font-weight: 600;
    color: black;
    margin-bottom: 2%;
    text-align: center;
}

.vaga-conteiner {
    max-width: 90%; 
    height: auto;
    border: solid 1px var(--border-color);
    border-radius: 16px;
    display: inline-block;
    align-items: center;
    padding: 3% 3.5%; 
    margin-bottom: 3%; 
}

.titulo-vaga {
    font-size: 1rem; 
    font-weight: 500;
    text-align: left;
}

.informacoes {
    font-size: 0.9rem; 
    font-weight: 500;
    color: var(--text-color);
    margin-top: 2%;
    text-align: left;
}

.espaço-entre {
    margin-left: 1rem; 
}
