:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --border-color: #EAECF0;
    --font-default: 'Inter', sans-serif;
}

.vagas {
    width: 1440px;
    height: 407px;
    padding: 96px 0px 96px 0px;
    gap: 24px;
    display: inline-block;
    text-align: center;
    font-family: var(--font-default);
}

.vagas-abertas {
    size: 14px;
    color: var(--main-color);
    font-weight: 500;
    background-color: #8E24240D;
    border-radius: 8px;
    width: 300px;
    height: 50px;
}

.vagas-main {
    font-size: 36px;
    font-weight: 600;
    margin: 32px 0px 32px 0px;
    gap: 12px;
}

.vagas-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vagas p {
    color: var(--text-color);
    width: 792px; 
    height: 83px; 
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.reuniao img {
    width: 1216px;
    height: 400px;
    margin-bottom: 80px;
}

.descricao-vagas {
    width: 1440px;
    height: 1000px;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.descricao-vagas h1 {
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 30px;
    display: flex;
    margin-left: 360px;
}

.vaga-conteiner {
    width: 738px;
    height: 136px;
    border: solid 1px var(--border-color);
    border-radius: 16px;
    display: inline-block;
    align-items: center;
    padding: 24px 24px 28px 24px;
    margin-bottom: 32px;
}

.titulo-vaga {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    text-align: left;
}

.informacoes {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    margin-top: 32px;
    display: flex;
    text-align: left;
}

.espaço-entre {
    margin-left: 20px;
}